body {
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18bc9c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

#portfolio {
    margin-top: 100px;
}

#about img {
    width: 250px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#about h2 {
    margin-bottom: 30px;
}

footer h2 {
    margin-bottom: 20px;
}

section {
    padding: 100px 0;
}

section h2,
footer h2 {
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #303236;
}

section.success a {
    color: #fff;
}


section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: #2c3e50;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #303236;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #f86d72;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #fa9ea1;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

/*======== Freewall pics ===========*/

.one {
    background-image: url('../img/1.jpg');
    width: 350px;
    height: 223px;
}

.two {
    background-image: url('../img/2.jpg');
    width: 600px;
    height: 284px;
}

.three {
    background-image: url('../img/3.jpg');
    width: 400px;
    height: 427px;
}

.four {
    background-image: url('../img/4.jpg');
    width: 400px;
    height: 448px;
}

.five {
    background-image: url('../img/5.jpg');
    width: 300px;
    height: 448px;
}

.six {
    background-image: url('../img/6.jpg');
    width: 400px;
    height: 604px;
}

.seven {
    background-image: url('../img/7.jpg');
    width: 400px;
    height: 604px;
}

.eight {
    background-image: url('../img/8.jpg');
    width: 300px;
    height: 453px;
}

.nine {
    background-image: url('../img/9.jpg');
    width: 300px;
    height: 199px;
}

.ten {
    background-image: url('../img/10.jpg');
    width: 500px;
    height: 331px;
}

.eleven {
    background-image: url('../img/11.jpg');
    width: 350px;
    height: 232px;
}

.twelve {
    background-image: url('../img/12.jpg');
    width: 400px;
    height: 268px;
}

.thirteen {
    background-image: url('../img/13.jpg');
    width: 400px;
    height: 265px;
}

.fourteen {
    background-image: url('../img/14.jpg');
    width: 400px;
    height: 265px;
}

.fifteen {
    background-image: url('../img/15.jpg');
    width: 300px;
    height: 429px;
}

.sixteen {
    background-image: url('../img/16.jpg');
    width: 400px;
    height: 604px;
}

.seventeen {
    background-image: url('../img/17.jpg');
    width: 400px;
    height: 253px;
}

.eighteen {
    background-image: url('../img/18.jpg');
    width: 400px;
    height: 265px;
}

.twenty-one {
    background-image: url('../img/21.jpg');
    width: 300px;
    height: 468px;
}

.header {
    height: 100%;
}
.free-wall {
    width: 100%;
    height: 100%;
}

@keyframes start {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@-webkit-keyframes start {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

.filter-items {
    text-align: center;
    padding-bottom: 30px;
}

.filter-label {
    display: inline-block;
    letter-spacing: 1px;
    font-size: 1.2em;
    margin: 0px 5px 5px 0px;
    padding: 10px;
    cursor: pointer;
}

.filter-label.active,
.filter-label:hover {
    background: #e7e7e7;
}

.brick {
    background-color: white;
    float: left;
    cursor: default;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}